@font-face {
    font-family: Seventies;
    src: url(../assets/fonts/ChaletLondonNineteenSeventy.ttf);
}
@font-face {
    font-family: Sixties;
    src: url(../assets/fonts/ChaletLondonNineteenSixty.ttf);
}
#map {
    height: 100%;
}
.data-city-name {
    font-family: Seventies;
    font-size:164px;
    font-weight: bolder;
    color: rgb(191,43,48);
    position: fixed;
    top: 0;   
    right: 15px;
    z-index: 32000;
}
.data-day-of-the-week {
    font-weight: bold;
}
.google-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}       
.google-map > iframe {
    border: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -2;
}   
footer {
    position: absolute;
    left:0;right:0;bottom:4px;
    z-index: 32000;
    overflow-x: hidden;
}
footer > div[class^="col"] {
    padding:0 2px;
}
.well {
    cursor: pointer;
    background: white;
    height: 175px;
    margin: 0 !important;
    display: inline-flex;
    width:100%;
    /*border: 1px solid #e3e3e3;*/
}
.well.active {
    border: 2px solid rgb(191,43,48) !important;
    color: rgba(191,43,48,1);
}
div[class$="-marker"] {
    width:100%; 
}
div[class$="-marker"] > .pull-right.data-temp {
    position: absolute;
    bottom: 24px;
    font-size: 21px;
}
div[class$="-marker"] > .data-description {
    position: absolute;
    bottom: 0;
}
div[class$="-marker"] > .data-day-of-the-week {
    margin-top: 0;
}

@media (max-width: 1111px) {     
    div[class$="-marker"] > .pull-right.data-temp {   
        bottom: 48px;
    }
    div[class$="-marker"] > .data-description {
        text-align: left;
    }
    div[class$="-marker"] > .data-day-of-the-week {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .data-city-name {
        font-size:72px;
        position: initial;
    }
    .well { 
        width: 90%;
        margin-left:5%;
        height: 100px;
        border: 1px solid #e3e3e3; 
        margin-bottom:15px !important;
    }
    div[class$="-marker"] > .pull-right.data-temp {   
        top: 0;
        right: 0;
        margin: 0;
    }
    div[class$="-marker"] > .data-description {
        right: 0;
        bottom: 0;
        margin: 0;
    }
    div[class$="-marker"] > .data-day-of-the-week {
        font-size: 24px;
    }
    footer {
        top:0;
        overflow-y: scroll;
    }
}
.well {
    font-family: Sixties;
    color: rgba(4,34,121,1);
    opacity: 0.75;
    border-radius:0;

}
.col-sm-2 > .well > .col-xs-12,
.col-sm-4 > .well > .col-xs-12
{
    padding: 0;
}

